.post-card {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;

  @media (max-width: 575.98px) {
    height: 100%;
  }

  .post-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .post-card-tags {
      display: flex;
      flex-direction: row;

      .tag {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        padding: 4px 9px;
        border: 0.1px solid rgba(255, 255, 255, 0.2);
        margin-right: 7px;

        @media (max-width: 575.98px) {
          font-size: 8px;
        }
      }

      /* Tags Colors */
      .post-tag-new {
        background: #797d84;
      }
      .post-tag-important {
        background: #715b3a;
      }
      .post-tag-survive {
        background: #34733a;
      }
      .post-tag-creative {
        background: #543479;
      }
      .post-tag-event {
        background: #313e7a;
      }
    }

    .post-card-date {
      font-size: 12px;
      font-weight: 350;
      color: #83889e;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media (max-width: 575.98px) {
        font-size: 10px;
      }

      .post-card-date-icon {
        min-width: 10px;
        height: 10px;
        background-image: url("../../images/PostDateIcon.svg");
        background-position: center;
        margin-right: 5px;
      }
    }
  }

  .post-loader {
    width: 100%;
    height: 295px;
    @media (max-width: 575.98px) {
      max-height: 250px !important;
    }
    @media (max-width: 430px) {
      max-height: 190px !important;
    }
  }

  .post-card-body {
    width: 100%;
    height: 295px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7px;
    border: 1px solid #131624;
    position: relative;
    cursor: pointer;

    @media (max-width: 575.98px) {
      max-height: 250px !important;
    }
    @media (max-width: 430px) {
      max-height: 190px !important;
    }

    &:hover {
      .post-card-footer-wrapper {
        .post-card-text {
          display: -webkit-box;
          transition: 0.1s all ease-in-out;
        }
      }
    }

    .post-card-footer-wrapper {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100.2%;
      background: rgba(19, 22, 36, 0.75);
      padding: 9px 17px;
      box-sizing: border-box;
      transition: 0.1s all ease-in-out;

      .post-card-text {
        font-weight: 350;
        font-size: 14px;
        line-height: 18px;
        color: #a3a7ba;
        display: none;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 3px;
        padding: 0 16px 0 0;
        box-sizing: border-box;
        transition: 0.1s all ease-in-out;
        
      }

      .post-card-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .post-card-footer-icon {
          width: 16px;
          height: 14px;
          background-image: url("../../images/ArrowIcon.svg");
          background-size: cover;
          background-position: center;

          @media (max-width: 575.98px) {
            width: 8px;
            height: 8px;
          }
        }

        .post-card-footer-text {
          font-size: 16px;
          font-weight: 350;
          margin: 0;

          @media (max-width: 575.98px) {
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 10px 0 0;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
