.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  .player-card-header {
    width: 100px;
    height: 100px;
    background: rgba(19, 22, 36, 0.6);
    padding: 10px;
    box-sizing: border-box;

    .player-img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .player-name {
    width: 100px;
    text-align: center;
    font-family: "Whitney", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    margin-top: 5px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    color: #ffffff;
  }
}
