.admin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/AdminBlur.webp");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #999fbc;

  .admin-header {
    padding: 25px 0 30px 0;
    box-sizing: border-box;

    .line {
      width: 100%;
      height: 1px;
      background: #585c70;
      opacity: 0.25;
    }

    .admin-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .line {
        width: 100%;
        height: 1px;
        background: #585c70;
        opacity: 0.25;
      }

      .vk-icon {
        min-width: 20px;
        height: 12px;
        background-image: url("../../images/VkIconGray.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 15px 0 15px;
      }

      .discord-icon {
        min-width: 20px;
        height: 12px;
        background-image: url("../../images/DiscordIconGray.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 15px 0 15px;
      }

      .line-center {
        min-width: 20px;
        height: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(26px);

        .line-top {
          width: 20px;
          height: 1px;
          background: #585c70;
          opacity: 0.25;
        }
        .line-bottom {
          height: 53px;
          width: 1px;
          background: #585c70;
          opacity: 0.25;
        }
      }
    }

    .admin-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 25px;

      .hub-button {
        min-width: 120px;
        margin: 0 20px;
        height: 120px;
        background: #3c4152;
        border: 1px solid #3c4152;
        border-radius: 50%;
        position: relative;
        z-index: 100;
        padding: 0;
        transition: 0.3s all ease-in-out;
        cursor: pointer;

        &:hover {
          background: #2f3341;
          transition: 0.3s all ease-in-out;
          transform: rotate(360deg);
        }

        &::after {
          content: "";
          width: 42px;
          height: 42px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 101;
          border-radius: 50%;
          background-image: url("../../images/MakotoLogo.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      .admin-stat-list {
        max-width: 460px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .admin-stat {
          display: flex;
          flex-direction: column;

          .admin-stat-title {
            font-family: Roboto, sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: #606479;
            font-weight: normal;
            margin-bottom: 23px;
          }

          .admin-stat-items {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .admin-stat-item {
              display: flex;
              flex-direction: column;
              font-family: Roboto, sans-serif;

              .admin-stat-number {
                font-weight: 500;
                font-size: 26px;
                line-height: 30px;
              }
              .admin-stat-info {
                color: #606479;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                white-space: nowrap;
              }
            }
          }
          @media (max-width: 1000px) {
            &:first-child {
              display: none;
            }
          }
          
        }
        @media (max-width: 1000px) {
          justify-content: center;
        }
        @media (max-width: 600px) {
          display: none;
        }
      }

      .reverse {
        text-align: end;
      }

      @media (max-width: 1000px) {
        justify-content: center;
      }
    }

    .admin-progress {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      padding: 20px 0;

      .line-progress {
        width: 100%;
        height: 1px;
        background: #585c70;
        opacity: 0.25;

        @media (max-width: 900px) {
          display: none;
        }
      }

      .progress {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .success-square {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .line {
          @extend .line;
        }
        .button {
          min-width: 28px;
          height: 28px;
          background: #141a26;
          border: 1px solid #3c4152;
          transform: rotate(45deg);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.1s ease;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 0px 7px rgba(123, 173, 246, 0.4);
            transition: all 0.1s ease;
            border: 1px solid #7badf6;
          }

          img {
            width: 9px;
            height: 9px;
            transform: rotate(-45deg);
          }
        }
      }

      .progress-button {
        width: 100%;
        .progress-button-header {
          display: flex;
          flex-direction: row;
          align-items: center;

          .button {
            min-width: 28px;
            height: 28px;
            background: #1e1f2a;
            border: 1px solid #292b38;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
              background: #1f302b;
              border: 1px solid #42a940;
            }

            .button-image {
              display: none;

              &.active {
                display: block;
              }
            }
          }

          .line {
            width: 100%;
            height: 1px;
            background: #292b38;

            &.active {
              background: #42a940;
            }
          }
        }
      }

      .back-square {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .line {
          @extend .line;
        }
        .button {
          min-width: 28px;
          height: 28px;
          background: #40262d;
          border: 1px solid #d24d4d;
          transform: rotate(45deg);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.1s ease;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 0px 7px rgba(239, 125, 125, 0.4);
            transition: all 0.1s ease;

            border: 1px solid #ef7d7d;
          }
        }

        img {
          width: 9px;
          height: 9px;
          transform: rotate(-45deg);
        }
      }

      .admin-icon {
        min-width: 29px;
        margin: 0 46px;
        height: 31px;
        background-image: url("../../images/UpdatesIcon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: 900px) {
          display: none;
        }
      }
    }
  }
}
