.our-servers {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .server-card-full {
    max-width: none !important;
  }

  .server-card {
    max-width: 790px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px 70px 50px 90px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 99.7%;
      position: absolute;
      top: 0;
      left: -1px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      z-index: 103;
    }

    .server-card-flag-makoto {
      width: 40px;
      height: 198px;
      background-image: url("../../images/FlagGreen.png");
      background-size: cover;
      background-position: center;
      position: absolute !important;
      top: 0;
      left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 200;
      margin: 0;

      & p {
        transform: rotate(-90deg);
        font-weight: 600;
        font-size: 22px;
        margin: -20px 0 0 0;
        color: #4ad849;
      }

      @media (max-width: 575.98px) {
        left: 10px;
      }
    }

    .server-card-flag-hardcore {
      width: 40px;
      height: 198px;
      background-image: url("../../images/FlagRed.png");
      background-size: cover;
      background-position: center;
      position: absolute !important;
      top: 0;
      left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 200;
      margin: 0;

      & p {
        transform: rotate(-90deg);
        font-weight: 600;
        font-size: 22px;
        margin: -20px 0 0 0;
        color: #fca4a4;
      }

      @media (max-width: 575.98px) {
        left: 10px;
      }
    }

    .server-card-flag-borneo {
      width: 40px;
      height: 198px;
      background-image: url("../../images/FlagPurple.png");
      background-size: cover;
      background-position: center;
      position: absolute !important;
      top: 0;
      left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 200;
      margin: 0;

      & p {
        transform: rotate(-90deg);
        font-weight: 600;
        font-size: 22px;
        margin: -20px 0 0 0;
        color: #daa4fc;
      }

      @media (max-width: 575.98px) {
        left: 10px;
      }
    }

    .server-card-header {
      width: 100%;
      z-index: 200;
      position: relative;

      .server-card-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .server-card-title-text {
          font-weight: bold;
          font-size: 22px;
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            margin-left: 10px;
          }

          @media (max-width: 575.98px) {
            span {
              margin-left: 5px;
            }
          }
        }

        .server-card-online {
          font-weight: 600;
          font-size: 10px;
          color: #83889e;
          position: relative;
        }

        @media (max-width: 575.98px) {
          flex-direction: column;
          align-items: flex-start;

          .server-card-online {
            margin-top: 5px;
          }
        }
      }

      .server-card-game-mode {
        font-weight: 600;
        font-size: 16px;

        @media (max-width: 575.98px) {
          margin-top: 8px;
        }
      }
    }

    .server-card-body {
      margin-top: 40px;
      z-index: 200;
      position: relative;

      p {
        font-weight: 325;
        font-size: 16px;
        margin: 0 0 65px 0;
        padding-right: 30px;
        box-sizing: border-box;
        line-height: 21px;
      }

      @media (max-width: 575.98px) {
        p {
          padding-right: 0;
        }
      }
    }

    .server-card-footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute !important;
      left: 0;
      bottom: 45px;
      padding: 0 70px 0 90px;
      box-sizing: border-box;
      z-index: 200;

      .server-card-link {
        font-weight: 600;
        font-size: 10px;
        color: #83889e;
      }

      .server-card-ip {
        background: none;
        border: none;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        white-space: nowrap;
        position: relative;
        padding: 0;

        &::before {
          content: "НАЖМИТЕ, ЧТОБЫ СКОПИРОВАТЬ";
          position: absolute;
          right: 0;
          top: -14px;
          font-weight: 600;
          font-size: 10px;
          color: #83889e;
        }

        @media (max-width: 575.98px) {
          margin-top: 30px;
          padding: 0;

          &::before {
            left: 0;
            right: auto;
          }
        }
      }

      @media (max-width: 575.98px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 30px 0 65px;
      }
    }

    @media (max-width: 575.98px) {
      padding: 20px 30px 70px 65px;
    }
    @media (max-width: 1089px) {
      max-width: none;
    }
  }

  .server-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(515px, 1fr));
    width: 100%;
    height: 100%;
    margin-top: 30px;
    column-gap: 20px;
    gap: 20px;
    margin-bottom: 0;

    @media (max-width: 991.98px) {
      grid-template-columns: 1fr;
    }
  }
}
